<head>
	<!-- Meta -->
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- CSS & fonts -->
	<link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
	<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:300,400,700,900,400italic|Signika:700,300,400,600' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
	<style type="text/css">
		#nav{ display:none;	}
		#nav-menu{ display:none; }
		#nav-list{ display:none; }
		nav{ display:none;	}
		
	</style>
	<![endif]-->
</head>
